@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";
@import"https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Golos Text", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}